{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load static %}
{% block body %}
<div class="container mt-5">
<div class="section">
    <divclass="container">
        <div class="contact text-center my-4">
            <h1 class="mb-3">{% trans "Contact Us" %}</h1>
            <h3 class="fw-bold text-danger">01020687061</h3>
        </div>
        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="id_name" class="form-label">{% trans "Name" %}</label>
                <input type="text" name="name" class="form-control" id="id_name" value="{{ form.name.value|default:'' }}">
                {% for error in form.name.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        
            <div class="mb-3">
                <label for="id_email" class="form-label">{% trans "Email" %}</label>
                <input type="email" name="email" class="form-control" id="id_email" value="{{ form.email.value|default:'' }}">
                {% for error in form.email.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        
            <div class="mb-3">
                <label for="id_subject" class="form-label">{% trans "Subject" %}</label>
                <input type="text" name="subject" class="form-control" id="id_subject" value="{{ form.subject.value|default:'' }}">
                {% for error in form.subject.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        
            <div class="mb-3">
                <label for="id_message" class="form-label">{% trans "Message" %}</label>
                <textarea name="message" class="form-control" id="id_message">{{ form.message.value|default:'' }}</textarea>
                {% for error in form.message.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        
            <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
        </form>
        
    </div>
</div>
</div>
{% endblock body %}
